h1{
    font size: 20px;
    color: teal;
  }
h2{
    font size: 20px;
    color: teal;
  }
.main-box{
    padding: 15px;
    background: #FFFFFF;
    text-align: left;
}
.img-fluid{
    float: left;
}
.thumb_plot {
    height:120px
    width:160px
}
.img-shadow{
    box-shadow: 10px 10px 5px black;
  }
.Scatter-box{
    padding: 18px;
    background: #FFFFFF;
    text-align: center;
}
.img-sz{
    height: 150px;
    width: 200px;
    padding: 5px;
    margin: 5px;
}
.img-big{
    height: 500px;
    width: 700px;
    padding: 5px;
    margin: 5px;   
}
.col-sm-6 {
    min-height: 50px;
    padding: 5px;
    margin: 5px;
    font-weight: 800;
    color: #fff;
  }
  .text-white{
    font size: 20px;
    color:white;
  }
.h1-comp{
    font size: 20px;
    color: teal;
 }
.container{
    margin-top: 30px;
    margin-bottom: 30px;
}
.header{
    margin-top: 30px;
    margin-bottom: 100px;
}